terratowns_endpoint = "https://terratowns.cloud/api"
bossa-nova = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/bossa-nova"
  content_version = 2 
}
reality-tv = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/reality-tv"
  content_version = 1 
}